h1{
    text-align: center;
    background-color: aqua;
    color:black;
}
.parent{
    display: flex;
    justify-content: space-evenly;
}
.child1,.child2,.child3{
    padding: 15px;
    border-radius: 5px;
    border: 2px solid white;
    background-color:black;
    color:aliceblue;
}
h3{
    text-align: center;
    background-color:aqua;
    color: black;
}
p{
    font-weight: bold;
}